html {
    box-sizing: border-box;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#container {
    height: 100vh;
    width: 90vw;
    display: grid;
    place-items: center;
}

#display {
    color: #0a1e23;
    /* width: clamp(220px, 10vw, 500px); */
    
    height: 50px;
    border: 2px solid rgb(0, 0, 0, .4);
    margin: auto;
    height: 8rem;
    /* width: auto; */
    /* width: 270px; */
    font-size: 30px;
    margin-bottom: 20px;
    padding: .5rem;
    display: grid;
    align-content: space-between;
    border-radius: 5px;
}

/* #display div {
    width: 100%;
} */

#small-screen {
    color: rgb(0, 0, 0, .4);
    font-size: 1.2rem;
    font-size: clamp(.8rem, 3vw, 1.4rem);
    max-width: 85%;
}

#big-screen {
    font-size: clamp(1.4rem, 15vw, 2rem);
    /* font-size: 2rem; */
    max-width: 85%;
    columns: 150px;
    overflow-wrap: anywhere;
}

#zero {
    grid-column: 1 / 3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    /* transition: all 0.5s ease; */
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

/* #display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
 */
button {
    /* height: 60px; */
    width: min(60px, 15vw);
    aspect-ratio: 1 / 1;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

cleabutton:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}


.calculator {
    background-color: #fff;
}

#clear,
#partialClear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.number {
    background-color: #c3eaff;
    color: #000000;
}

.operator, .decimal, .sign{
    background-color: #ffd0fb;
    color: #f967f3;
}

.equals {
    background-color: #adf9e7;
    color: #000;
}